body{
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #eee;
    box-sizing: border-box;
}

/* darle el mismo estilo a otro elemento o tags */
input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    /* sacamos el borde con el none */
    border: none;
    /* y lo ponemos de nuevo con el left */
    border: 1px solid whitesmoke;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
    margin: 6px 0;
    
}


form{
    background: transparent;
    /* IMPORTANTEE me da la posibilidad que el formulario no se extienda al 100% cuando  estiren o agranden la pantalla */
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 30px 0 #0006;
    padding: 10px 20px;
   
}

fieldset{
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #ddd6;
}
legend{
    padding: 0 7px;
}